@import "tailwindcss";
@plugin "daisyui"{
  themes: garden --default, dark --prefersdark
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-water: #1e90ff;
  --color-fire: #ff4500;
  --color-dragon: #8a2be2;
  --color-thunder: #ffd700;
  --color-ice: #add8e6;
  --color-water-light: #0f4880;
  --color-fire-light: #802300;
  --color-dragon-light: #451671;
  --color-thunder-light: #806c00;
  --color-ice-light: #576c73;
}

.text-water-guast {
  @apply text-water-light dark:text-water;
}

.text-fire-guast {
  @apply text-fire-light dark:text-fire;
}

.text-dragon-guast {
  @apply text-dragon-light dark:text-dragon;
}

.text-ice-guast {
  @apply text-ice-light dark:text-ice;
}

.text-thunder-guast {
  @apply text-thunder-light dark:text-thunder;
}

.tag-guast{
  @apply dark:bg-transparent dark:text-(--badge-color);
}

/* Overriding DaisyUI cursor for closing outside modal */
.modal-backdrop {
  button {
      cursor: default;
  }
}

