@import "tailwindcss";
@plugin "daisyui"{
  themes: nord --default, dark --prefersdark
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-water: #1e90ff;
  --color-fire: #ff4500;
  --color-dragon: #8a2be2;
  --color-thunder: #ffd700;
  --color-ice: #add8e6;
  --color-water-light: #0f4880;
  --color-fire-light: #802300;
  --color-dragon-light: #451671;
  --color-thunder-light: #806c00;
  --color-ice-light: #576c73;
}

.water-element-text {
  @apply text-water-light dark:text-water;
}

.fire-element-text {
  @apply text-fire-light dark:text-fire;
}

.dragon-element-text {
  @apply text-dragon-light dark:text-dragon;
}

.ice-element-text {
  @apply text-ice-light dark:text-ice;
}

.thunder-element-text {
  @apply text-thunder-light dark:text-thunder;
}
